body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0%;
}

.background {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 0%;

}

h1 {
    font-size: 70px;
    color: white;
}

.text-position {
    text-align: center;
    padding: 200px;
}

.text1 {
    margin-bottom: 5%;
}

.position {
    text-align: center;

}

p {
    color: white;
    font-size: 15px;
}

.link-button {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 5px;
}

.font1 {
    color: black;
}

.font2 {
    color: gray;
}

.flexible {
    display: flex;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.width-area {
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

.border200 {
    border: 3px solid #FF5959;
    border-radius: 5px;
    background-color: #FFEEEE;
}

.border-all {
    border: 3px solid #FAFAFA;
    border-radius: 5px;
    background-color: #FAFAFA;
}

.input-margin {
    margin-top: 4%;
}

.input-border {
    border: none;
    border-bottom: 2px solid gray;
    width: 40%;
    text-align: center;
    margin-bottom: 3%;
}

.alignment {
    text-align: left;
}

.area {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.border1 {
    border: none;
    border-radius: 3px;
    background-color: #a4d6dbc2;
    padding: 2%;
}

.border2 {
    border: none;
    border-radius: 3px;
    background-color: #e9cbcb;
    padding: 2%;
}

.border3 {
    border: none;
    border-radius: 3px;
    background-color: #FFF4D6;
    padding: 2%;
}

.border4 {
    margin-left: 25%;
    margin-right: 25%;
    background-color: #FFF4D6;
    padding: 50px 30px;
    justify-content: center;
}

.border-email {
    text-align: center;
    border: none;
    background-color: gainsboro;
    height: 30px;
    padding: 5px;
}

button {
    border-width: 0;
    background-color: rgb(214, 22, 18);
    padding: 5px;
}

.footer-design {
    text-align: center;
    margin-top: 5%;
    padding: 3%;
    background-color: rgb(1, 1, 43);

}

h3 {
    font-size: 40px;
    color: white;
    font-family: cursive;
}

footer {
    text-align: center;

}