body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0%;
}

.background {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    font-size: 70px;
    color: white;
}

.text-position {
    text-align: center;
    padding: 200px;
}

.text1 {
    margin-bottom: 5%;
}

.position {
    text-align: center;
    margin-bottom: 10px;

}

p {
    color: white;
    font-size: 15px;
}

.link-button {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 5px;
}

.font1 {
    color: black;
}

.font2 {
    color: gray;
}

.flexible {
    display: flex;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 25px;
}

.width-area {
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
}

.flexible-1 {
    display: flex;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

#food {
    background-color: aquamarine;
}

#shelter {
    background-color: rgb(237, 164, 164);
}

#education {
    background-color: rgb(231, 203, 132);
}

.border200 {
    border: 3px solid #FF5959;
    border-radius: 5px;
    background-color: #FFEEEE;
}

.border-all {
    border: 3px solid #FAFAFA;
    border-radius: 5px;
    background-color: #FAFAFA;
}

.input-margin {
    margin-top: 4%;
}

.input-border {
    border: none;
    border-bottom: 2px solid gray;
    width: 40%;
    text-align: center;
    margin-bottom: 3%;
}

.alignment {
    text-align: left;
}

.border {
    width: 90%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 3%;
    border-radius: 5px;
}

.border4 {
    margin-left: 25%;
    margin-right: 25%;
    background-color: #FFF4D6;
    padding: 60px 30px;
    justify-content: center;
}

.border-email {
    text-align: center;
    border: none;
    background-color: gainsboro;
    height: 30px;
    padding: 2% 10%;
}

button {
    border-width: 0;
    background-color: rgb(216, 74, 71);
    padding: 2%;
}

.footer-design {
    text-align: center;
    margin-top: 5%;
    padding: 3%;
    background-color: rgb(1, 1, 43);

}

h3 {
    font-size: 40px;
    color: rgb(160, 31, 31);
    font-family: cursive;
}

footer {
    text-align: center;

}